@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  --primary: #ce5ff8;
  --secondary: #14141b;
  --black: #000;
  --white: #fff;
  --light: #efefef;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  display: none;
}
/* All anchors */
a {
  text-decoration: none;
  color: unset;
}
